.venv/
__pycache__/
*.pyc

datasets/

experiments/voc_saliency_eval/original/
experiments/voc_saliency_eval/masked/
experiments/voc_saliency_eval/saliency_maps/
experiments/voc_saliency_eval/saliency_overlays/

experiments/**/weights/*.pt
runs/**/weights/*.pt
*.zip

.DS_Store